@charset "UTF-8";

body{text-align: center;
    background-image: linear-gradient(to bottom,rgb(255, 255, 255),rgba(214, 214, 214, 0.767));
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-attachment: fixed;
    margin: 0 }
a { text-decoration: none;
    color: rgb(255, 255, 255);}
h1 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
font-size: xx-large;
color: rgb(255, 255, 255);}

img {width: 45vh; height: 45vh; border-radius: 10px; box-shadow: 0px 0px 5px rgb(94, 94, 94);border: 5px solid rgba(255, 0, 0, 0)}

figure {text-align: center;
}
div {display: inline-block;
width: 60vh;
height: 40vh;
margin: auto;}

img:hover {border: 5px solid rgb(100, 172, 255)}
header {  background-image: linear-gradient(to bottom,rgb(19, 19, 19),rgba(10, 10, 10, 0.767)); padding-bottom: 1vh; border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;color: white }